<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.CampusMart.web.mapper.GoodsMapper">

    <resultMap id="GoodsVoResultMap" type="org.example.CampusMart.web.vo.GoodsVo">
        <result column="goodID" property="goodID"/>
        <result column="title" property="title"/>
        <result column="publishUserID" property="publishUserID"/>
        <result column="appearance" property="appearance"/>
        <result column="itemDescription" property="itemDescription"/>
        <result column="price" property="price"/>
        <result column="publisherNickname" property="nickname"/>
        <result column="AvatarURL" property="avatarURL"/>
        <result column="pictureURL" property="pictureURL"/>
    </resultMap>

    <select id="selectGoodsPage" resultMap="GoodsVoResultMap">
        SELECT
        g.goodID,
        g.title,
        g.publishUserID,
        g.appearance,
        g.itemDescription,
        g.price,
        u.Nickname AS publisherNickname,
        u.avatarURL AS AvatarURL,
        p.pictureURL AS pictureURL
        FROM
        goods g
        JOIN
        `user` u ON g.publishUserID = u.userID
        LEFT JOIN
        picture p ON g.goodID = p.goodID
        ORDER BY
        g.publishTime DESC
    </select>

    <select id="selectGoodsByTitle" resultMap="GoodsVoResultMap">
        SELECT
        g.goodID,
        g.title,
        g.publishUserID,
        g.appearance,
        g.itemDescription,
        g.price,
        u.Nickname AS publisherNickname,
        u.avatarURL AS AvatarURL,
        p.pictureURL AS pictureURL
        FROM
        goods g
        JOIN
        `user` u ON g.publishUserID = u.userID
        LEFT JOIN
        picture p ON g.goodID = p.goodID
        ${ew.customSqlSegment}
        ORDER BY g.publishTime DESC
    </select>

    <select id="selectGoodsByPublisherId" resultMap="GoodsVoResultMap">
        SELECT
        g.goodID,
        g.title,
        g.publishUserID,
        g.appearance,
        g.itemDescription,
        g.price,
        u.Nickname AS publisherNickname,
        u.avatarURL AS AvatarURL,
        p.pictureURL AS pictureURL
        FROM
        goods g
        JOIN
        `user` u ON g.publishUserID = u.userID
        LEFT JOIN
        picture p ON g.goodID = p.goodID
        ${ew.customSqlSegment}
        ORDER BY g.publishTime DESC
    </select>
</mapper>
